infra: diffusion
model: unet


diffusion:
  seq_length: 1024
  feature_size: 24
  label_dim: 30
  timesteps: 100
  sampling_timesteps: 100
  loss_type: 'l2'
  beta_schedule: 'linear'
  use_ff: True



backbone:
  seq_len: 1024
  feature_dim: 24
  num_classes: 30
  hidden_ch: [64,32,16,8]
  emb_dim: 32
  kernel_size: 5

optimizer:
  lr: 0.0001
  betas: [0.9,0.99]

batch_size: 16